@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg,#4338CA, #059669);
}

.container{
    position: relative;
    width: 850px;
    height: 500px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0,0,0,.2);
   overflow: hidden;
}

.form-box{
    position: absolute;
    right: 0; 
    width: 50%;
    height: 100%;
    background : #F3F4F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1E293B;
    text-align: center;
    padding: 40px;               
    justify-content: flex-start; 
}

form {
    width:100%;
}

.container h1{
    font-size: 36px;
    margin-bottom: 25px; 
}

/* --- Brand Logo --- */
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2px;  /* space under logo */
}

.brand-text{
    font-weight: 700;
    font-size: 24px;
    color: #3B82F6;
}

.input-box{
    position: relative;
    margin: 20px 0; 
    width: 100%;
}

.input-box input{
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    outline: none;
}
 
.input-box input::placeholder{
    color : #888;
    font-weight: 400;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.input-box p {
    text-align: left;
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.forgot-link{
    text-align: right;
    width: 100%;
    margin: 5px 0 20px;
}

.forgot-link a{
    text-decoration: none;
    color: #4338CA;
    font-size: 14px;
    transition: 0.3s;
}

.forgot-link a:hover{
    color: #059669;
}

.btn{
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #4338CA, #059669);
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    
}

.btn:hover{
    opacity: 0.9;
    transform: scale(1.02);
}

.container p{
    font-size: 14.5px;
    margin: 15px 0;
}
